html {
  text-align: center;
}

span {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

button {
  font-size: 1rem;
  margin: 20px;
}

h3 {
  font-size: 2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contentsContainer {
  background-color: rgb(79, 133, 250);
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 50px;
  font-size: 2rem;
}

#generateNumber {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}